{% extends 'exam/base.html' %}
 
{% block script %}
<script type="text/javascript">
    
    function disableButton(btn){
		document.getElementById(btn.id).disabled = true;
         
    }
</script>
{% endblock script %}

{% block content %}
<form method='POST'>
{% csrf_token %}
    {% if finished  %}

    <p>completed successfully</p>
    <p>Total Questions : {{total_question}}</p>
    <p>Total correct answers : {{correct_answered}}</p><br>
    <p>Your Result is {{result}}</p>
    <p>Time taken : {{time_taken}}</p>

    {% else %}
    {{question.content}}
    <br>
      <form method= "POST" >
        {% for o in option %}
        <input type='radio' value='{{o.id}}' name='ansed'>{{o}}<br>
        {% endfor %}
        <input type = 'hidden' value='{{quzrec}}' name='quzrec'>
        <input type = 'hidden' value='{{question.id}}' name='question_id'>
        <input type = 'hidden' value='{{stud}}' name='stud'>
        {% if not submitted  %}
        <input type="submit" value="submit" id = 'btn1' >

        </form>
        <b id='selectedd'></b>
{% else %}    

        {% if dso %}
        <p style="color:blue">Hurray! Correct</p>
        <a href = "{% url 'quest' quiz stud %}">next</a>
        {% else %}
        <p style="color:red">{{exp}}</p>
       <a href = "{% url 'quest' quiz stud %}">next</a>
        {% endif %}
        <br>
        {% endif %}

        {% endif %}
{% endblock content %}

<script type="text/javascript" language="javascript">
    function ValidateIt() {
      if (document.getElementById('ddlProblemCategory').value == 0) {
           alert("Please fill some value");
           return false;
      }
           return true;
    }
    function DisableIt() {
        if (ValidateIt() == true)
          document.getElementById('btnSaveProblem').disabled = true;
    }  
</script> 
