{% extends 'exam/base.html' %}


{% block content %}
<form method='POST'>
{% csrf_token %}
{% if attempted %}
<h4>Your Results</h4>
{% for z in q %}
Quiz : {{z.quiz}}<br>
Marks : {{z.marks}}<br>
Completed : {{z.completed}}<br>
{% endfor %}


{% else %}
<p>rules for quiz</p>
<p>please answer all the questions<br>Make sure you are prepared and have good internet connectivity before starting the quiz <br>You can attend the quiz only one time.<br>If you land into any errors please contact the support</p>
    <button>
    <a class = 'btn btn-primary' href = "{% url 'quest' quiz stud %}">
	<span>start quiz</span></a>
</button>
{% endif %}
{% endblock content %}

